<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
<appSettings>
  <add key="ConsumerKey" value="038R2o2jOR36S3A5s3gQogets" />
  <add key="ConsumerSecret" value="JBy1YXVNGwVutDXkR8OV1gXWSpCFldqNMcPjh4l2bu8A81uT0D" />
</appSettings>
</configuration>